button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: rgb(50, 156, 255);
  border-radius: 20px;
  box-shadow: inset;
  transition: background-color 0.3s ease;
  font-size: 400%;
}

button:hover {
  background-color: rgb(183, 230, 255);
  font-size: 400%;
}
